/* ? ----- MAIN ----- */

/* ? ----- Cuenta Regresiva ----- */
#discount-container {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.simply-section {
  width: 100%;
  min-width: 80px;
  padding: 8px;
  background-color: #f2622e;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
}

.simply-amount {
  display: block;
  text-align: center;
  font-size: clamp(1rem 2.5vw 2rem);
  font-weight: 700;
}

.simply-word {
  font-weight: 300;
  font-size: 18px;
}
