@import url("/css/tablet.css");

// Timer-discount Styles
.discount-container {
  .discount__timer-container {
    gap: 50px;
  }
}

// ========================
// HEADER styles
// ========================

header {
  p:nth-child(2) {
    margin-top: 30px;
  }
}
